# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

.idea/**
.DS_Store

**/main
**/*.tiff
**/*.png
**/*.zip

_todo.md
**/imgui.ini
.vscode

# Wheel Distributables
**/*.whl
python/wheel
__pycache__